.scen-table-cv {
    text-align: center !important;
}

.scenarioTable {
    margin-top: 0px;
    margin-bottom: 16px;
}

.scenarioTable label {
    margin-right: 20px !important;
}

.scenarioTable .dialog-table input {
    background-color: #fafafa7d !important;
}