.upload {
    min-width: 1200px;
    overflow: auto;
    
}

.upload-content {
    max-width: 1300px;
    margin: 0 auto;
}
.upload-top {
    display: flex;
    gap: 20px;
}

.upload-top-item {
    padding: 10px 16px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.upload-top-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
}

.upload-icon-doc {
    background-color: #5b92ff2d;
    color: #5B93FF;
}

.upload-icon-img {
    background-color: #ffd56b3a;
    color: #FFD66B;
}

.upload-icon-video {
    background-color: #ff906b24;
    color: #FF8F6B;
}

.upload-icon-zip {
    background-color: #9254de26;
    color: #9254DE;
}

.upload-top-icon {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upload-top-text * {
    margin: 0;
    white-space: nowrap;
}

.upload-top-text h2 {
    font-weight: 700;
}

.upload-top-last {
    flex: 1;
    flex-direction: column;
    padding: 16px;
    display: flex;
    gap: 16px;
}

.upload-top-text.top-last {
    display: flex;
    gap: 8px;
}

.upload-process {
    height: 32px;
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 8px;
}

.upload-process-fill {
  
    background-color: var(--primary-color);
    height: 32px;
    border-radius: 8px;
}

.upload-list {
    margin-top: 24px;
    padding: 16px 16px 0 16px;
    overflow: hidden;
}

.table-icon {
    margin-right: 4px;
    background-color: rgba(255, 255, 255, 0);
}

