.dialog {
    top: 0;
    bottom: 0;
    border: none;
}

.scenario-dilog .ant-modal-content {
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
    width: 720px !important;
}

.scenario-dilog .ant-modal-title {
    display: flex;
}

.scenario-dilog .dialog-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    padding-right: 16px;
    border-right: 1px solid #BFBFBF;
}

.dialog-input-tag {
    display: flex;
}

.scenario-dilog .dialog-img {
    text-align: center;
    margin-left: 16px;
    color: #8C8C8C;
    font-weight: 700;
}

.scenario-dilog .label-bottom {
    margin-top: 8px;
}

.scenario-dilog .dialog-content {
    display: flex;
    flex-wrap: wrap;
}

.dialog-icon {
    color: purple;
}

.button-dialog {
    min-width: 100px;
    padding: 8px 16px;
    margin-left: 8px;
    border: 1px solid var(--primary-color);
}

.cancel-dialog {
    background-color: white;
    color: black;
    border: 1px solid #D9D9D9;
}

.dialog-title {
    font-weight: 700;
font-size: 20px;
line-height: 20px;
margin-left: 16px;
}