.grline {
    padding: 16px;
}

.grline-title {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 24px;
}

.grline-label {
    color: #8C8C8C;
}

.grline-img {
    height: 36px;
    width: 36px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grline-text {
    font-weight: 700;
    font-size: 18px;
}