.dialog-table {
    width: 100%;
    margin-top: 16px;
    border-collapse: collapse;
    border-radius: 8px;
    background-color: #F5F5F5;
}

.dialog-table tr {
    border-bottom: 1px solid #D9D9D9;
}

.dialog-table th {
    text-align: left;
    background-color: #D9D9D9;
    padding: 8px;
}

.dialog-table td {
    padding: 8px;
    vertical-align: text-top;
}

.dialog-table input, .dialog-table select {
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background: #FAFAFA;
}