.logo {
    font-weight: 800;
    color: var(--primary-color);
    display: flex;
    align-items: flex-end;
}

.logo img {
    padding-right: 8px;
}

.logo span {
    white-space: nowrap;
    overflow: hidden;
}
