.loading-component {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 1500;
    background-color: #85858588;
}

.loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loading-comp {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}