.app {
  background-color: #f0f0f0;
}

.input-text {
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 16px;
}

.input-text:focus {
  outline: none;
  border: 1px solid blue !important;
}

.button {
  background-color: var(--primary-color);
  min-width: 147px;
  padding: 8px 16px;
  border-radius: 2px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  color: white;
  border: none;
}

.button:hover {
  filter: brightness(95%);
}

.button:active {
  filter: brightness(90%);
}

.button p {
  display: inline;
  margin-left: 8px;
}

.width-50 {
  width: 50%;
}

.bg-item {
  background-color: white;
  border-radius: 16px;
}

.main {
  padding: 48px 40px;
  overflow: auto; 
  max-height: calc(100vh - 72px);
}