.app {
  background-color: #f0f0f0;
}

.input-text {
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 16px;
}

.input-text:focus {
  outline: none;
  border: 1px solid blue !important;
}

.width-50 {
  width: 50%;
}

.bg-item {
  background-color: white;
  border-radius: 16px;
}