.up-img {
    width: 128px;
    height: 128px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.up-img img {
    width: inherit;
}

.up-img label {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.up-img label:hover {
    filter: brightness(90%);
}